
*{
    margin: 0;
    padding: 0;
}
body{
    .top{
        background-color: #383838;
        height: 450px;
        color: #f5f3f0}
    .middle{
        background-color: #fff9f1;
        height: 215px;}
    }
    

table{
    border: 3px solid rgb(164, 142, 17);
    width: 1200px;
    text-align: center;
    margin: auto;
    color:#000000;
}
a{
    color: black;
    text-decoration: dotted;
}

a:hover{
    color: rgb(164, 142, 17);
}
